{% if pager.haveToPaginate %}
    <div class="text-center">
        <ul class="{% if options.containerCssClass %}{{ options.containerCssClass }} {% endif %}pagination">
            <li class="{% if not pager.hasPreviousPage %} disabled {% endif %}">
                <a {% if pager.hasPreviousPage %}href="{{ generate_page_route(1, options) }}"{% endif %}
                    title="1"
                >
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="{% if not pager.hasPreviousPage %} disabled {% endif %}">
                <a
                    {% if pager.hasPreviousPage %}
                        href="{{ generate_page_route(pager.previousPage, options) }}"
                        title="{{ pager.previousPage }}"
                    {% else %}
                        title="1"
                    {% endif %}
                >
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>

            <li>
                <span>
                    <select
                        class="pager chosen form-control"
                        data-route-name="{{ options.routeName }}"
                        data-route-parameters="{{ options.routeParams|json_encode() }}"
                    >
                        {% for i in range (1, pager.nbPages) %}
                            <option value="{{ i }}" {% if pager.currentPage == i %}selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </span>
            </li>

            <li class="{% if not pager.hasNextPage %} disabled {% endif %}">
                <a
                    {% if pager.hasNextPage %}
                        href="{{ generate_page_route(pager.nextPage, options) }}"
                        title="{{ pager.nextPage }}"
                    {% else %}
                        title="{{ pager.nbPages }}"
                    {% endif %}
                >
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li class="{% if not pager.hasNextPage %} disabled {% endif %}">
                <a {% if pager.hasNextPage %}href="{{ generate_page_route(pager.nbPages, options) }}"{% endif %}
                    title="{{ pager.nbPages }}"
                >
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
