{% if pager.haveToPaginate %}
    <div class="text-center">
        <ul class="pagination">
            <li class="{% if not pager.hasPreviousPage %} disabled {% endif %}">
                <a {% if pager.hasPreviousPage %}href="{{ generate_page_route(1, routeOptions) }}"{% endif %}>
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="{% if not pager.hasPreviousPage %} disabled {% endif %}">
                <a {% if pager.hasPreviousPage %}href="{{ generate_page_route(pager.previousPage, routeOptions) }}"{% endif %}>
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>

            <li>
                <span>
                    <select
                        class="pager chosen"
                        data-route-name="{{ routeOptions.routeName }}"
                        data-route-parameters="{{ routeOptions.routeParams|json_encode() }}"
                    >
                        {% for i in range (1, pager.nbPages) %}
                            <option value="{{ i }}" {% if pager.currentPage == i %}selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select> / {{ pager.nbPages }}
                </span>
            </li>

            <li class="{% if not pager.hasNextPage %} disabled {% endif %}">
                <a {% if pager.hasNextPage %}href="{{ generate_page_route(pager.nextPage, routeOptions) }}"{% endif %}>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li class="{% if not pager.hasNextPage %} disabled {% endif %}">
                <a {% if pager.hasNextPage %}href="{{ generate_page_route(pager.nbPages, routeOptions) }}"{% endif %}>
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
{% endif %}
